# logs
logs
*.log
npm-debug.log*

# dependencies
node_modules

# ts build files
*.js
*.d.ts

# configs
!jest.config.js

# cdk asset staging directory
.cdk.staging
cdk.out

# dotenv files
.env
.env.*
!.env.example
